<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <h1 style="text-align: center;">Delete Article</h1>
    </head>
    <body>

    <style>
        .spacer {
            margin-bottom: 40px; /* Adjust spacing as needed */
        }
    </style>

        <form action="{{ url_for('delete_page', id=id) }}" method="POST">

            <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">{{article_nested_dict[id].title}}</h2>
            <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">{{article_nested_dict[id].Date}}</h1>
            <p><pre style="text-align: center;">{{article_nested_dict[id].Content}}</pre></p>

            <input style="display: block; margin-right: auto; margin-left: auto; font-family: Arial, Helvetica, sans-serif;" type="submit" value="are you sure you want to delete?"> 

            <a href={{ url_for('dashboard')}} style = "display: block; text-align: center; font-family: Arial, Helvetica, sans-serif;">back</a>

        </form>
        
    </body>
    
</html>